body {
    margin: 0px;
}

/**Font-Sizes**/

html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    color: #333333;
    line-height: 1.5;
    margin-top: 0;
}

body {
    font-size: 1.6rem;
}

p {
    margin-bottom: 50px;
    margin-top: 0;
}

p.quote {
    margin-bottom: 30px;
    margin-top: 0;
    color: #6f86d6;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 10.2rem;  
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 0.25;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2.2rem;
    color: #6f86d6;
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
}


a.footer {
    font-size: 1.4rem;
    color: white;
}

/**Header**/

.hero_container {
width: 100vw;
height: 45vh;
min-height: 300px;
background-image: linear-gradient(#48c6ef, #6f86d6);
z-index: -100;
overflow: hidden;
position: static;
}

.nav_mobile {
    position: static;
    width: 100vw;
    height: 60px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    z-index: 100;
    }

.nav_mobile.sticky {
        position: fixed;
        top: 0;
        width:100vw;
      }

/**container**/

.wrapper {
padding-left: 20vw;
padding-right: 20vw;

}

.wrapper_hero {
    width: 100vw;
    height: 30vh;
    min-height: 300px;
    margin: 0 auto;
    position: relative;
}

.border {
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
}

.spacer {
    margin-bottom: 50px;
}


/**img**/

.mobile_nav {
    height: 40px;
    width: 34px;
    right: 20px;
    position: absolute;
    margin-top: 10px;
}


/**Mediaqueries**/

@media only screen and (max-width: 1001px) {

    .wrapper {
        padding-left: 70vw;
        padding-right: 70vw;
         }

     h1 {
            font-size: 9.0rem !important;
        }

}

@media only screen and (max-width: 1000px) {

    .wrapper {
        padding-left: 15vw;
        padding-right: 15vw;
         }

     h1 {
            font-size: 9.0rem !important;
        }

}



@media only screen and (max-width: 640px) {
   
    body {
        font-size: 1.4rem !important;
    }

    h1 {
        font-size: 6.0rem !important;
        margin-top: 50px;
    }

    h2 {
        font-size: 1.8rem !important;
    }

    h3 {
        font-size: 1.8rem !important;
        margin-bottom: 5px;
    }

    h4 {
        font-size: 1.4rem !important;
    }


    .header {
        height: 60px !important;
    }

    .navbar {
        height: 60px;
    }

      .wrapper {
        padding-left: 5vw;
        padding-right: 5vw;
         }
}
